  <h1><%= @survey.name %></h1>
  <form method="post" action="/surveys/<%= @survey.id %>">

    <% @survey.questions.each do |question| %>
      <p><%= question.text %></p>
      
      <% question.options.each do |option| %>
        <input type="radio" name="<%= question.id %>" value="<%= option.id %>"><%= option.text %></input>
      <% end %>
      
    <% end %>

    <input type="submit" value="Submit">
  </form>
