<div class="container">

  <br><h1><%= @user.username %></h1>

  <h3>Your Surveys</h3>
  <ul>
    <% @user.created_surveys.each do |survey| %>
      <li><a href="survey_results/<%= survey.id %>"><%= survey.name %></a></li>
    <% end %>
  </ul>

  <h3>Surveys You've Answered</h3>
  <ul>
    <% @user.answered_surveys.each do |survey| %>
      <li><a href="survey_results/<%= survey.id %>"><%= survey.name %></a></li>
    <% end %>
  </ul>
</div>
