<h1><%= @survey.name %> Results:</h1>
<p class="results-summary"><%= "#{Session.where(survey_id: @survey.id).count} people have taken this survey. The breakdown of answers is below.  Your answers are in green." %></p>
<% @survey.questions.each do |question| %>
  <p class="results-summary">Question: </p>
  <p class="results-summary"><%= question.text %></p>
  <p class="results-summary">Responses:</p>
  <ul class="results-responses">
    <% responses = @user.responses.map { |r| r.option_id } %>
    <% question.options.each do |option| %>
      <% styling = responses.include?(option.id) ? "your_answer" : "" %>
      <li class="<%= styling %>">
        (<%= @responses.select { |r| r.option_id == option.id }.count %>) <%= option.text %>
      </li>
    <% end %>
  </ul>
<% end %>
